.aboutme-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  padding: 300px;
  margin-top: 200px;
  margin-bottom: 300px;
  align-items: center;
  margin-left: 100px;
  margin-right: 100px;
}

.languages {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-left: 5px;
}

.languages img {
  width: 70px;
  height: auto;
}

.description {
  flex: 1;
  color: #EBEBEB;
  font-size: 12px;
  text-align: left;
  border-left: 1px solid gray;
  padding-left: 20px;
}
