.Navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
}


.navbar-container {
  background-color: #050505;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 20px;
}

.navbar-logo {
  margin-left: 100px;
}

.buttons-container {
  display: flex;
  margin-right: 100px;
}



/* BTN */
.btn {
  margin: 10px;
  border: 1px solid gray;
  background-color: #050505;
  border: 1px solid #050505;
  border-radius: 6px;
  /* box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;*/
  color:  #FAFBFC;
  cursor: pointer;
  font-family: inherit;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  padding: 6px 16px;
}



img {
  height: 50px;
  margin: 10px;
}



/* TABLET */
@media (max-width: 768) {
  .navbar-logo {
    margin-left: 30px;
  }

  .buttons-container {
    margin-right: 30px;
  }

  .btn {
    font-size: 16px;
    padding: 6px 12px;
  }
}


/* PHONE */

@media (max-width: 480px) {

  .navbar-logo {
    display: none;
  }

  .buttons-container {
    margin: 30px;
    width: 100%;
  }

  .btn {
    font-size: 14px;
    padding: 0;
    width: 100%;
  }
}
