.projects {
  margin-bottom: 150px;
}

.projects h1 {
  font-size: 50px;
  margin-top: 100px;
  margin-bottom: -40px;
  color: #EBEBEB;
}



/* CSS */
.btn1 {
  font-family: inherit;
  font-size: 25px;
  padding: 20px 50px;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #050505;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 100px;
}

.btn1:before {
  content: "";
  background: linear-gradient(
    45deg,
    #6F4A8E,
    #221F3B,
    #050505,
    #70bee8,
    #2E073F,
    #7A1CAC,
    #AD49E1,
    #EBD3F8
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-btn1 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-btn1 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.btn1:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}
